<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="winq_linq.Properties.Settings.winphonedbConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=winphonedb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="winq_linq.Properties.Settings.my_dbConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=my_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
